<h1>Contact Us</h1>
<p>Send us any questions or concerns</p>


<div class="container forms">
  <%= flash[:notice] %>

  <%= form_tag("/static_pages/thank_you") do %>
      <div class="form-row">
      	<div class="form-group col-lg-8">
        	<%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", :required => true %>
        </div>
      	<div class="form-group col-lg-8">
        	<%= email_field_tag :email, nil, class: "form-control", placeholder: "Enter Email", :required => true %>
        </div>
      
     	 	<div class="form-group col-lg-8">
       	 <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", :required => true %>
      	</div>
  
       <div class="form-group col-lg-8">   
  <%= submit_tag "Send Message", class: "btn-sm btn-primary" %>   
  		</div>
  <% end %>
</div><!-- end container -->
