<h1>Products</h1>
<div class="container-fluid">
  <div class="row">
 
    <% @products.each do |product| %>
     <div class="col-sm-2 col-md-4">
     <%= image_tag(product.image_url, class: "img-responsive")if product.image_url.present? %>
        <a href="/static_pages/landing_page"><h2><%= product.name %></h2></a>
        <p><%= product.description %></p>
        <p><%= product.colour %></p>
        <p><%= product.price %></p>      
      </div><!-- /col -->
    <% end %>
  </div>
</div>